@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');



body{
	font-family: 'Roboto', sans-serif;
}

/*header section*/


header{}
.header_section{
	border-bottom:1px solid #999;
}
.logo{
	font-size: 26px;
	color: #0149A1;
}
.nav_item{}

.header_section ul{}

.header_section ul li {
	padding: 15px;
}

.header_section ul li a{
    color: #000;
    border: 1px solid #fff;
    background: #ffffff;
    border-radius: 25px;
	font-size: 20px;
	color: #999;
}
.header_section ul li a:hover{
    color: #000;
    border: 1px solid #1093D2;
    background: #ffffff;
    border-radius: 25px;
}
.social{}
.social a{
	border: 1px solid #999;
    background: #ffffff;
    border-radius: 25px;
	color: #1093D2!important;
}




/*banner section */

.banner_section{
	text-align: center;
    background: url(../images/banner.jpg);
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}



.contant_section{
	text-align: center;
}
.contant h1{
	padding-top:30px;
	color: #0149A1;
	font-size: 72px;
}
.contant p{
	color: #999;
	font-size: 36px;
	padding-bottom: 50px;
}
.contant button{
	color: #fff;
    border: 1px solid #fff;
    background: #FF2D55;
    padding: 12px 45px;
    border-radius: 25px;
}

.contant button:hover{
	background: #0149A1;
	color: #fff;
}
.contant{
	padding: 20px;
}

.modal_section{	
    padding-top: 250px;
    padding-bottom: 240px;
}
.modal_section button{
    padding: 10px 50px;
    background: #fff;
    border: none;
    color: black;	
    border-radius: 25px;
}
span{
	padding-left: 10px
	font-size:20px
}
.modal_section button:hover{
	background: #0149A1;
	color: black;
	cursor: pointer;
}
.conn{
	float: right;
	display: block;
}
.conn h3{
	font-size: 30px;
}
.conn p{
	font-size:18px;
}

/*banner section */



 /*meadia section */
.meadia_section{
	text-align: center;
    background: url(../images/banner2.jpg);
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom:140px;
}

.meadia_section button{
	color: #fff;
	border: none;
    background: #0149A1;
    padding: 12px 45px;
    border-radius: 25px;
}


.meadia_section button p{
	font-size: 18px;
}

.meadia_section button:hover{
	background: #FF2D55;
	color: #fff;
	cursor: pointer;
}



/*work contant_section*/

.work_section{
	padding-bottom: 30px;
	background: #0149A1;

}
.work{
	text-align: center;
}
.work h1{
	padding-top: 100px;
	font-size: 72px;
	color: #fff;
}
.work p{
	padding-bottom: 30px;
	font-size: 36px;
	color:#999;
}
.work_baner{
	padding-bottom: 300px;
}

.banner_img{
}
.banner_img img{
	float: left;
}
.banner1_img{
	float: right;
}
.banner1_img p{
	color: #999;
}


.work_button{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}
.work_button button{
	color: black;
    text-align: center;
    border: none;
    background: #fff;
    padding: 0px 53px;
    border-radius: 25px;
    padding-top: 15px
}
.work_button button p{
	font-size: 18px;
} 
.work_button button:hover{
	background: #FF2D55;
	color: #fff;
	cursor: pointer;
}



/*slider section*/

#testimonial4{
  overflow: hidden;
  min-height: 375px;
  position: relative;
  background: #fff;
  color: #7c8ca0;
}
#testimonial4 .carousel-inner{
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .carousel-item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ddd;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #7c8ca0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.prev{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.next{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.prev:hover,
.testimonial4_control_button .carousel-control.next:hover{
  color: #7c8ca0;
  background: silver;
  border: 2px solid #7c8ca0;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #7c8ca0;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  margin-bottom:  20px;
}

.testimonial4_slide p {
  color: #010a15;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #7c8ca0;
  font-size: 20px;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_header h4{
    font-size: 20px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial4_control_button .carousel-control.prev{
    left: 2%;
    color: #7c8ca0 !important;
  }
  .testimonial4_control_button .carousel-control.next{
    right: 2%;
    color: #7c8ca0 !important;
  }
  .testimonial4_header{
    width: 95%;
    color: #7c8ca0 !important;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
    color: #7c8ca0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial4_control_button .carousel-control.prev{
    left: 5%;
    color: #7c8ca0 !important;
  }
  .testimonial4_control_button .carousel-control.next{
    right: 5%;
    color: #7c8ca0 !important;
  }
}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
.underlin{
	color: #006ff9;
}
.profile1{
	padding-top: 5rem;

}
.carousel-control-next{
	color: #7c8ca0 !important; 
}
.carousel-control-prev{
	color: #7c8ca0 !important; 
}

.fa-chevron-right{
	border: 2px solid #7c8ca0;
    border-radius: 25px;
    padding: 15px;

}

.fa-chevron-left{
	border: 2px solid #7c8ca0;
    border-radius: 25px;
    padding: 15px;

}




/*our team section*/
.our_team_secton{
	background: #edeff1;
}

.team{
	text-align: center;
}
.team h1{
	padding-top: 40px;
	color: #0149A1;
	font-size: 72px;
}
.team p{
	padding-bottom: 40px;
	font-size: 36px;
	color: #999;
}
.our_team{
	text-align: center;
	float: left;
}
.our_team h3{
	padding-top: 15px;
	font-size: 30px;
}
.our_team p{
	line-height: 30px;
	font-size: 18px;
	color: #999;
}


.bottonn {
	padding: 70px;
	text-align: center;
}
.bottonn button{	
	color: #fff;
    border: 1px solid #fff;
    background: #FF2D55;
    padding: 12px 45px;
    border-radius: 25px;
}
.contantt button:hover{
	background: #0149A1;
	color: #fff;
}

.contantt_section{
	background:#0149a1;
}
.contantt{
    float: left;
    display: inherit;
    padding: 100px;

}
.contantt p{
	line-height: 40px;
	font-size: 18px;
	color: #fff;
}

.footer{
	text-align: center;
}

.footer p{
	color: #999;
	font-size: 18px;
}

.footer span{
	color: #fff;
}
.footer span:hover{
	cursor: pointer;
	color: yellow;
}